@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);







#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-0 .navbar-toggler {
  color: #000000;
}
#msg-box4-6 .lead P {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
}
#msg-box4-6 .mbr-section-title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
#content5-2 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
#content5-2 P {
  font-family: 'Open Sans', sans-serif;
}
#content5-2 DIV {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-8 P {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
#contacts3-8 STRONG {
  font-family: 'Open Sans', sans-serif;
}





#dropdown-menu-9 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-9 .nav .link,
#dropdown-menu-9 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-9 .navbar,
#dropdown-menu-9 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-9 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-9 .dropdown-menu a:hover,
#dropdown-menu-9 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-9 .navbar-toggler {
  color: #000000;
}
#msg-box4-k .lead P {
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-k .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 46px;
}
#msg-box4-l .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-a P {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
#contacts3-a STRONG {
  font-family: 'Open Sans', sans-serif;
}
